# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.env

dist/
build/
tmp/
temp/
logs/
*.log

# VSCode 
.vscode/
.idea/
*.iml

# Frontend
.cache/
.next/
out/
coverage/
*.tsbuildinfo

# Misc
*.swp
*.swo
*.bak
*.tmp
*.log
*.pid
*.seed
