node_modules/
dist/
build/
.env
.env.local
.env.development.local
.env.production.local
.env.test.local

# LOGS
npm-debug.log*
pnpm-debug.log*
logs/
*.log

.DS_Store
Thumbs.db
desktop.ini

.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# TESTS
coverage/
.cache/
.tmp/
.eslintcache
*.pid
*.seed
*.pid.lock

temp/
tmp/

# DATABASE
*.sql~
*.dump
*.bak

# FRONTEND
client/node_modules/
client/dist/
client/.vite/
client/.env
client/.DS_Store
client/.eslintcache
